<mat-dialog-content>
  <h2 *ngIf="isEditing">Editar Usuario</h2>
  <h2 *ngIf="!isEditing">Crear Usuario</h2>
  <form class="form-container">
    <!-- Fila 1: Departamento y Cargo -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Departamento</mat-label>
        <mat-select [(value)]="user.id_departamento">
          @for (departamento of departamentos; track departamento) {
            <mat-option [value]="departamento.value">{{departamento.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Cargo</mat-label>
        <mat-select [(value)]="user.id_cargo">
          @for (cargo of cargos; track cargo) {
            <mat-option [value]="cargo.value">{{cargo.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Fila 2: Usuario y Email -->
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="user.usuario" name="usuario" required />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" name="email" required />
      </mat-form-field>
    </div>

    <!-- Fila 3: Primer y Segundo Nombre -->
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Primer Nombre</mat-label>
        <input matInput [(ngModel)]="user.primer_nombre" name="primer_nombre" required />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Segundo Nombre</mat-label>
        <input matInput [(ngModel)]="user.segundo_nombre" name="segundo_nombre" required />
      </mat-form-field>
    </div>

    <!-- Fila 4: Primer y Segundo Apellido -->
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Primer Apellido</mat-label>
        <input matInput [(ngModel)]="user.primer_apellido" name="primer_apellido" required />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput [(ngModel)]="user.segundo_apellido" name="segundo_apellido" required />
      </mat-form-field>
    </div>

    <!-- Botones -->
    <div class="button-group">
      <button mat-raised-button (click)="onSubmit()">{{ isEditing ? 'Actualizar' : 'Registrar' }}</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</mat-dialog-content>
