button.mat-icon-button {
  margin-right: 8px;
}

.edit-btn {
  color: green;
}

.edit-btn:hover {
  background-color: rgb(195, 255, 195);
}

.delete-btn {
  color: rgb(255, 0, 0);
}

.delete-btn:hover {
  background-color: rgb(255, 191, 191);
}
