<main class="main">
  <div class="content">
    <div class="select-container">
      <mat-form-field class="select-item">
        <mat-label>Seleccione un Departamento</mat-label>
        <mat-select>
          @for (departamento of departamentos; track departamento) {
            <mat-option [value]="departamento.value">{{departamento.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-item">
        <mat-label>Seleccione un Cargo</mat-label>
        <mat-select>
          @for (cargo of cargos; track cargo) {
            <mat-option [value]="cargo.value">{{cargo.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-raised-button class="right-button" (click)="openUserModal(false)">
        Crear Nuevo Usuario
      </button>
    </div>

    <mat-divider></mat-divider>
    <table-component></table-component>
  </div>
</main>
<router-outlet></router-outlet>
